*.class

# Package Files #
*.war
*.ear
/.project
/GitToClearCase/target/
/GitToClearCase2/dist/
/GitToClearCase2/nbproject/private/
/GitToClearCase2/build/
/GitToClearCase/nbproject/private/
/GitToClearCase/build/
/GitToClearCase/dist/
/git-to-clearcase/nbproject/private/
/git-to-clearcase/dist/
/git-to-clearcase/build/
/git-to-clearcase-1.3/nbproject/private/