*.class

# Package Files #
*.war
*.ear
/.project
/GitToClearCase/target/
/GitToClearCase2/dist/
/GitToClearCase2/nbproject/private/
/GitToClearCase2/build/
/GitToClearCase/nbproject/private/