<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{dd/MM HH:mm:ss} %-5level %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SWING" class="br.com.danielferber.gittocc.SwingAppender">
    </appender>

    <root level="all">
        <appender-ref ref="STDOUT" />
    </root>
    
    <logger name="br.com.danielferber.gittocc.git.GitHistoryBuilder" level="info">
        <appender-ref ref="SWING" />
    </logger>
    <logger name="br.com.danielferber.gittocc.git.GitProcess" level="info">
        <appender-ref ref="SWING" />
    </logger>
</configuration>