<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <timestamp key="monthId" datePattern="yyyy-MM"/>
    
    <appender name="FILE-METER" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>meter-${HOSTNAME}-${monthId}.txt</file>
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>DATA_OK</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>DATA_FAIL</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>DATA_FAIL</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>none</level>
        </filter>
        <encoder>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>log-${monthId}.txt</file>
        <encoder>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <pattern>%5level %date{dd HH:mm} %logger{30}:  message %mdc</pattern>
        </encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!-- <pattern>%d{dd/MM HH:mm:ss} %-5level %logger{15} - %msg%n</pattern>-->
            <pattern>%-5level %logger{15} - %msg%n</pattern>-->        
        </encoder>
    </appender>

    <appender name="SWING-INTEGRATION" class="br.com.danielferber.gittocc.SwingAppender">
        <!-- Para os loggers dos processos externos, mantém somente a linha de comando e descarta o resto. -->
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>ct_cmd</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>git_cmd</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.LoggerNameFilter">
            <loggerName>br.com.danielferber.gittocc.git.GitProcess</loggerName>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.LoggerNameFilter">
            <loggerName>br.com.danielferber.gittocc.cc.ClearToolProcess</loggerName>
            <onMatch>DENY</onMatch>
        </filter>
        
        <!-- Para os demais casos, mostra somente mensagens de info. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>

    <root level="all">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SWING-INTEGRATION" />
        <appender-ref ref="FILE-METER" />
        <appender-ref ref="FILE" />
    </root>
</configuration>