<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <timestamp key="monthId" datePattern="yyyy-MM"/>
    
    <appender name="FILE-METER" class="ch.qos.logback.core.FileAppender">
        <!-- Arquivo com os tempos de execução de cada operação. -->
        
        <append>true</append>
        <file>meter-${HOSTNAME}-${monthId}.txt</file>
        
        <!-- Aceita somente mensagens com dados do término do Meter. -->
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>METER_DATA_OK</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>METER_DATA_SLOW_OK</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>METER_DATA_FAIL</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        
        <!-- Rejeita qualquer outra mensagem. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        
        <!-- Mostra apenas o dia e a hora/minuto somente para situar os dados no tempo.
             O ano, mês e host já estão no nome do arquivo. 
             A hora precisa está nos dados da mensagem. -->
        <encoder>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <pattern>%date{dd HH:mm} %message%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Arquivo com todas as mensagens. -->
        
        <append>true</append>
        <file>log-${monthId}.txt</file>
        <encoder>
        <!-- Mostra apenas o dia e a hora/minuto.
             O ano, mês e host já estão no nome do arquivo. -->
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <pattern>%5level %date{dd HH:mm} %logger{30}: %message %mdc%n</pattern>
        </encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Apenas mensagens informativas e de erro. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>

        <encoder>
        <!-- Não mostra data ou hora, o usuário que lê o console já sabe que horas são :-)
             Se uma análise for necessária, os dados detalhados estão no arquivo de log. -->
            <pattern>%-5level %logger - %msg%n</pattern>-->        
        </encoder>
    </appender>

    <appender name="SWING-INTEGRATION" class="br.com.danielferber.gittocc.SwingAppender">
        <!-- Para os loggers dos processos externos, mantém somente a linha de comando e descarta o resto. -->
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>ct_cmd</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.MarkerFilter">
            <marker>git_cmd</marker>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.LoggerNameFilter">
            <loggerName>br.com.danielferber.gittocc.git.GitProcess</loggerName>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="br.com.danielferber.gittocc.logback.LoggerNameFilter">
            <loggerName>br.com.danielferber.gittocc.cc.ClearToolProcess</loggerName>
            <onMatch>DENY</onMatch>
        </filter>
        
        <!-- Para os demais casos, mostra somente mensagens de info. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>

    <root level="all">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SWING-INTEGRATION" />
        <appender-ref ref="FILE-METER" />
        <appender-ref ref="FILE" />
    </root>
</configuration>